<?xml version="1.0"?>
<config>

    <modules>
        <Frosit_Fontawesomeness>
            <version>1.2.1</version>
        </Frosit_Fontawesomeness>
    </modules>


    <global>
        <blocks>
            <frosit_fontawesomeness>
                <class>Frosit_Fontawesomeness_Block</class>
            </frosit_fontawesomeness>
        </blocks>
        <helpers>
            <frosit_fontawesomeness>
                <class>Frosit_Fontawesomeness_Helper</class>
            </frosit_fontawesomeness>
        </helpers>
        <models>
            <frosit_fontawesomeness>
                <class>Frosit_Fontawesomeness_Model</class>
            </frosit_fontawesomeness>
        </models>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Frosit_Fontawesomeness after="Mage_Adminhtml">Frosit_Fontawesomeness_Adminhtml</Frosit_Fontawesomeness>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <frosit_fontawesomeness>
                    <files>
                        <default>Frosit_Fontawesomeness.csv</default>
                    </files>
                </frosit_fontawesomeness>
            </modules>
        </translate>
        <layout>
            <updates>
                <frosit_fontawesomeness>
                    <file>frosit_fontawesomeness.xml</file>
                </frosit_fontawesomeness>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <layout>
            <updates>
                <frosit_fontawesomeness>
                    <file>frosit_fontawesomeness.xml</file>
                </frosit_fontawesomeness>
            </updates>
        </layout>
    </frontend>

    <default>
        <fontawesomeness>
            <font_awesome>
                <active>0</active>
            </font_awesome>
            <local_fonts>
                <active>0</active>
            </local_fonts>
            <custom>
                <active>0</active>
            </custom>
        </fontawesomeness>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Frosit_Fontawesomeness/>
            </modules>
        </suite>
    </phpunit>
</config>